.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-yellow: hsl(71, 73%, 54%);
  --primary-color-light-blue: hsl(179, 62%, 53%);
  --primay-color-blue: hsl(179, 62%, 43%);

  --neutral-color-100: hsl(204, 43%, 93%);
  --neutral-color-400: hsl(218, 22%, 67%);
}

html {
  font-family: "Karla", sans-serif;
}

body {
  background-color: var(--neutral-color-100);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 90%;
  margin-bottom: 1rem;
}

.container {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

section {
  padding: 25px;
}

.main-section {
  background-color: #fff;
  color: var(--neutral-color-400);
}

.main-section h1 {
  color: var(--primay-color-blue);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.guarantee {
  color: var(--primary-color-yellow);
  font-weight: 700;
  margin-bottom: 1rem;
}

.main-section p {
  line-height: 1.5;
}

.sub-section h2 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
}

.sub-section {
  color: #fff;
}

.cost {
  background-color: var(--primay-color-blue);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}

.cost-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cost-container .lighter {
  opacity: 0.6;
}

.cost button {
  background-color: var(--primary-color-yellow);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 15px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.info {
  background-color: var(--primary-color-light-blue);
}

.info h2 {
  margin-bottom: 1rem;
}

li {
  list-style: none;
  opacity: 0.7;
  line-height: 1.4;
}

@media screen and (min-width: 450px) {
  .container {
    max-width: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  section {
  padding: 0 35px;
}

  .main-section {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex; 
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

  .sub-section {
    padding: 30px 35px;
  }

  .cost {
    display: flex;
    justify-content: space-between;
  }

  .price {
  font-size: 1.8rem;
  font-weight: 700;
}

}
